.form

  &-inline

    > *
      display: inline-block

  &-contact
    box-shadow: 0 1px 3px rgba( $black, 0.13 )
    border: thin solid rgba( $black, 0.13 )
    font-size: emify( $font-size-small )
    border-radius: $border-radius-base
    padding: 10px