a[href]
  color: darken( $link-color, 10% )

  &:hover, &:focus, &:active
    color: $link-hover-color

.lnk
  transition: all 0.15s ease-in-out

  &-white
    color: $white

    &:hover, &:focus, &:active
      color: $white
      text-decoration: underline

  &-toggle

    &-nav
      +position( relative, null null null null )
      display: inline-block
      +size( 42px )

      > .ico-navicon
        float: right
        display: block
        +size( 18px, 4px )
        text-align: right
        border-radius: 2px
        margin-bottom: 4px
        background-color: $link-color

      &:before, &:after
        clear: both
        content: ''
        display: block
        +size( 25px, 4px )
        border-radius: 2px
        background-color: $link-color
        transition: transform 0.15s ease-in-out

      &:before
        margin-bottom: 4px

      .nav-open &
        z-index: 10001
        left: 96%

        > .ico-navicon
          @extend .sr-only

        &:before, &:after
          background-color: $white

        &:before
          margin-bottom: 0
          transform: rotate( 45deg )

        &:after
          transform: rotate( -45deg )

      +breakpoint( nth( $scale, 5 ) + 1 )
        display: none

        .full-width &
          padding: 11px 9px
          border-radius: 100%
          display: inline-block
          background-color: $white
          +position( fixed, 12px 16px null auto)
          box-shadow: 0 1px 3px rgba( $black, 0.6 )

        .full-width .nav-open &
          background-color: transparent
          box-shadow: none
          border-radius: 0

.logo
  display: inline-block
  vertical-align: middle
  background:
    size: contain
    color: inherit
    repeat: no-repeat
    position: center left
