ul, ol
  margin: 0 0 16px 1.5em

  > li
   padding-left: 0.25em

ul
  list-style-type: disc

  > li
    list-style-type: disc

ol
  list-style-type: decimal

  > li
    list-style-type: decimal

.list

  &-unstyled
    list-style-type: none
    padding: 0
    margin: 0

    > li
      list-style-type: none
      padding: 0
      margin: 0

  &-inline
    @extend .list-unstyled
    flex-wrap: wrap
    display: flex

    > li
      display: inline-block
      padding: 0 5px
  
  &-menu
    @extend .list-unstyled

    > li

      > .list-unstyled
        display: none

      &.expanded > .list-unstyled
        display: block

  &-nav
    @extend .list-unstyled

    +breakpoint( nth( $scale, 5 ) + 1 )
      align-items: center
      display: table
      display: flex

    > li
      padding: 0

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

      +breakpoint( nth( $scale, 5 ) + 1 )
        vertical-align: middle
        display: table-cell
        padding: 0 21px

        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0
