ul, ol
  margin: 0 0 16px 1.5em

  > li
   padding-left: 0.25em

ul
  list-style-type: disc

  > li
    list-style-type: disc

ol
  list-style-type: decimal

  > li
    list-style-type: decimal

.list

  &-unstyled
    list-style-type: none
    padding: 0
    margin: 0

    > li
      list-style-type: none
      padding: 0
      margin: 0

  &-inline
    @extend .list-unstyled
    flex-wrap: wrap
    display: flex

    > li
      display: inline-block
      padding: 0 5px
  
  &-menu
    @extend .list-unstyled

    > li

      > .list-unstyled
        display: none

      &.expanded > .list-unstyled
        display: block
  
  &-order
    @extend .list-unstyled
    padding: 16px
    margin: 0 0 16px
    border-top: 3px solid $border-color
    border-bottom: 3px solid $border-color

    > li
      display: table
      display: flex
      padding: 8px 0
      align-items: center
      border-bottom: thin solid $border-color

      .h5
        margin: 0
        padding-right: 10px
        width: susy-span( 5 of 12 )
        flex-basis: susy-span( 5 of 12 )

      .form-textfield
        margin: 0
        padding-right: 10px
        width: susy-span( 2 of 12 )
        flex-basis: susy-span( 2 of 12 )

        input
          margin-bottom: 0
          padding: 0.25em 0.5em

      .item-total
        padding-right: 10px
        width: susy-span( 3 of 12 )
        flex-basis: susy-span( 3 of 12 )

      .fa-times
        top: auto
        padding: 0
        right: auto
        position: static
        width: susy-span( 2 of 12 )
        flex-basis: susy-span( 2 of 12 )

      > *
        vertical-align: middle
        display: table-cell

      &:last-child
        border-bottom-color: transparent

    + .total
      margin: 0 0 2em
      padding: 16px 0
      border-bottom: 3px solid $border-color


  &-nav
    @extend .list-unstyled

    +breakpoint( nth( $scale, 5 ) + 1 )
      align-items: center
      display: table
      display: flex

    > li
      padding: 0

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

      +breakpoint( nth( $scale, 5 ) + 1 )
        vertical-align: middle
        display: table-cell
        padding: 0 21px

        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0
