#footer
  text-align: center

.footer

  &-top
    background-color: $footer-primary
    padding: 18px 16px
    color: $white

    .h4
      color: inherit
      display: inline-block
      font-family: $font-family-base

    .wrapper
      +container


  &-bottom
    color: $white
    padding: 16px
    font-size: emify( $font-size-small )
    background-color: $footer-secondary


    ul
      border-bottom: thin solid $white
      padding-bottom: 15px
      margin-bottom: 15px

      > li + li:before
        content: '|'
        padding: 0 10px 0 0


    span + a, a + a

      &:hover, &:focus, &:active
        text-decoration: none

      &:before
        content: '|'
        padding: 0 10px

        +breakpoint( max-width nth( $scale, 5 ) )
          padding: 0 5px

    .wrapper
      +container

  &-social
    +clearfix()

    .h4

      +breakpoint( max-width nth( $scale, 5 ) )
        float: left

    ul

      +breakpoint( nth( $scale, 5 ) + 1 )
        display: inline-block
        margin-left: 32px

      +breakpoint( max-width nth( $scale, 5 ) )
        float: right

    .fa
      font-size: emify( $font-size-base * 1.75 )
      color: $social-icon-color

      &:hover, &:focus, &:active
        text-decoration: none
        color: $social-icon-color
